<head>
  <title>isomorphicjs</title>
</head>

<body>
  <h1 class="text-center"> Books' Information</h1>
  {{> main}}
</body>

<template name="main">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
              </tr>
            </thead>
            <tbody>
              {{#each addBookDetail}}
                <tr>
                  <td>{{bookTitle}}</td>
                  <td>{{authorName}}</td>
                  <td>{{genre}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <form id="enterBookDetails" name="enterBookDetails">
            <div class="form-group">
              <label>Book Title</label>
              <input type="text" name="bookTitle" value="" id="bookTitle"/>
            </div>
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" name="authorName" value="" id="authorName"/>
            </div>
            <div class="form-group">
              <label>Genre</label>
              <input type="text" name="genre" value="" id="genre"/>
            </div>
              <button type="submit" name="submit" value="" class="btn btn-primary">Enter Book Details</button>
          </form>
        </div>
    </div>
  </div>
</template>
